/** <!--
// Name: Aiden John Watson
// Date: 01/05/2020
// Application: BristolAccessibilityMapApp
// Class: site.css

// This is the site.css giving style parameters for the html web page items.
// --!>
*/

/* Stylr for the lat, lng andd zoom info bar */
.sidebarStyle {
display: inline-block;
top: 0;
left: 0;
margin-top: 0%;
margin-left: 0%;
margin: px;
background-color: #404040;
color: #ffffff;
z-index: 1 !important;
padding: 6px;
font-weight: bold;
}

/* Style for the map container */
.mapContainer {
  width: 80%;
  height: 800px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border: 20px solid #f1f1f1;
  padding: 5px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding-top: 15px;
  padding-right: 0px;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style for the header */
.lowerheader {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Left and right column */
.column.side {
  width: 25%;
  text-align: center;
}

/* Middle column */
.column.middle {
  width: 50%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


  
